<section class="about-us">
  <h2 class="about-us__title" id="sec-who-we-are">Quiénes somos</h2>
  <div class="about-us__who-we-are">
    <article class="girl-article-left">
      <img title="Ninja Coder Yamira Martín" class="photo" src="./assets/images/yamira.jpg" alt="Fotografía Yamira Martín" />
      <div class="div-girl-text-left">
        <h3 class="girls">Yamira Martín</h3>
        <p class="girls-text">
          Psicóloga de corazón y Adalaber motivada con mucha ilusión por aprender. La organización, comunicación
          asertiva y alta
          capacidad en resolución de problemas son algunos de mis fuertes.
        </p>
        <ul class="logotipe-list-left">
          <li>
            <a title="Ir al Twitter de Yamira" href="https://twitter.com/martin_yamira" target="_blank">
              <img title="" class="logotipe" src="./assets/images/twitter-logo.png" alt="Logotipo de Twitter." /></a>
          </li>
          <li class="link-point">
            <a title="" href="https://www.linkedin.com/in/yamira-mart%C3%ADn-guzm%C3%A1n-5864828b/" target="_blank">
              <img title="" class="logotipe" src="./assets/images/linkedin-logo.png" alt=" Logotipo de LinkedIn" /></a>
          </li>
          <li class="link-point">
            <a title="" href="https://github.com/ymartinguzman" target="_blank">
              <img title="" class="logotipe" src="./assets/images/github-logo.png" alt="Logotipo de github" /></a>
          </li>
          <li class="link-point">
            <a title="" href="mailto:yamiramartinguzman-@gmail.com" target="_blank">
              <img title="" class="logotipe" src="./assets/images/mail-logo.png" alt="Logotipo de correo" /></a></li>
        </ul>
      </div>
    </article>


    <article class="girl-article-right">

        <img title="" class="photo" src="./assets/images/cristina.jpg" alt="Fotografía Cristina García" />
  
      <div class="div-girl-text-right">
        <h3 class="girls">Cristina García</h3>
        <p class="girls-text">
          Audiovisuales como formación, cultura como afición y programación como pasión. Tras años curioseando sobre
          páginas web, aterrizo en Adalab para adentrarme en las entrañas de HTML, CSS y JavaScript. Navegando con
          rumbo fijo hacia convertirme en una Ninja Coder.
        </p>
        <ul class="logotipe-list-right">
          <li>
            <a title="" href="https://twitter.com/Cris_Gar_Mar" target="_blank">
              <img title="" class="logotipe" src="./assets/images/twitter-logo.png" alt="Logotipo de Twitter." /></a>
          </li>
          <li class="link-point">
            <a href="https://www.linkedin.com/in/crisgarm" target="_blank">
              <img title="" class="logotipe" src="./assets/images/linkedin-logo.png" alt=" Logotipo de LinkedIn" /></a>
          </li>
          <li class="link-point">
            <a title="" href="https://github.com/crisgarm" target="_blank">
              <img title="" class="logotipe" src="./assets/images/github-logo.png" alt="Logotipo de github" /></a></li>
          </li>
          <li class="link-point">
            <a title="" href="mailto:crisgarm9@gmail.com" target="_blank"><img title="" class="logotipe" src="./assets/images/mail-logo.png"
                alt="Logotipo de correo" /></a></li>
        </ul>
      </div>
    </article>


    <article class="girl-article-left">
      <img class="photo" src="./assets/images/claudia.jpg"
          alt="Fotografía Claudia Palazón" />
      <div class="div-girl-text-left">
        <h3 class="girls">Claudia Palazón</h3>
        <p class="girls-text">
          Diseñadora integral, especializada en diseño de interfaces gráficas. Recién comenzada en la programación
          front-end, pero con muchas ganas de seguir aprendiendo y dar lo mejor de mí.
        </p>
        <ul class="logotipe-list-left">
          <li>
            <a title="" href="https://twitter.com/clau_own" target="_blank">
              <img title="" class="logotipe" src="./assets/images/twitter-logo.png" alt="Logotipo de Twitter." /></a>
          </li>
          <li class="link-point">
            <a title="" href="https://www.linkedin.com/in/claudiapalazon/" target="_blank">
              <img title="" class="logotipe" src="./assets/images/linkedin-logo.png" alt=" Logotipo de LinkedIn" /></a>
          </li>
          <li class="link-point">
            <a title="" href="https://github.com/claudiapalazon" target="_blank">
              <img title="" class="logotipe" src="./assets/images/github-logo.png" alt="Logotipo de github" /></a>
          </li>
          <li class="link-point">
            <a title="" href="mailto:claupanon@gmail.com" target="_blank">
              <img title="" class="logotipe" src="./assets/images/mail-logo.png" alt="Logotipo de correo" /></a></li>
        </ul>
      </div>
    </article>


    <article class="girl-article-right">
     <img title="" class="photo" src="./assets/images/emma.jpg" alt="Fotografía Emma Cebada" />
      
      <div class="div-girl-text-right">
        <h3 class="girls">Emma Cebada</h3>
        <p class="girls-text">
          Motivada, entregada y apasionada de la vida. Si buscas a una
          FrontEnd junior para trabajar en tus proyectos de páginas webs, ¡No
          dudes en ficharme para tu equipo!
        </p>
        <ul class="logotipe-list-right">
          <li>
            <img title="" class="logotipe" src="./assets/images/twitter-logo.png" alt="Logotipo de Twitter." />
          </li>
          <li class="link-point">
            <a title="" href="https://www.linkedin.com/in/emma-mar%C3%ADa-cebada-visuara-74639a164/" target="_blank">
              <img title="" class="logotipe" src="./assets/images/linkedin-logo.png" alt=" Logotipo de LinkedIn" /></a>
          </li>
          <li class="link-point">
            <a title="" href="https://github.com/Emma-cebada" target="_blank">
              <img title="" class="logotipe" src="./assets/images/github-logo.png" alt="Logotipo de Github" /></a>
          </li>
          <li class="link-point">
            <a title="" href="mailto:emma.cebada@gmail.com" target="_blank">
              <img title="" class="logotipe" src="./assets/images/mail-logo.png" alt="Logotipo de correo" /></a></li>
        </ul>
      </div>
    </article>


  </div>
</section>