<footer class="footer">
  <p class="copy">Ninja Coders &copy 2020</p>
  <nav>
    <ul class="footer__list">
      <li>
        <a
          title="Ir a sección Equipo"
          class="footer__list__link"
          href="#sec-team"
          >EQUIPO</a
        >
      </li>
      <li>
        <a
          title="Ir a sección Quiénes somos"
          class="footer__list__link"
          href="#sec-who-we-are"
          >QUIÉNES SOMOS</a
        >
      </li>
      <li>
        <a
          title="Ir a página de Contacto"
          class="footer__list__link"
          href="./contact.html"
          >CONTACTO</a
        >
      </li>
    </ul>
  </nav>
  <div class="div__icon-adalab">
    <a href="https://adalab.es/" target="_blank">
      <img
        title="Ir a la página de Adalab"
        alt="logo Adalab"
        class="icon-adalab"
        src="./assets/images/logo-adalab.png"
    /></a>
  </div>
</footer>
