<footer class="footer">
  <p class="copy">Ninja Coders &copy 2020</p>
  <nav>
    <ul class="footer-list">
      <li><a class="footer-link" href="#sec-team">EQUIPO</a></li>
      <li>
        <a class="footer-link" href="#sec-who-we-are">QUIÉNES SOMOS</a>
      </li>
      <li><a class="footer-link" href="#">CONTACTO</a></li>
    </ul>
  </nav>
  <div class="div-icon-adalab">
    <img
      alt="logo Adalab"
      class="icon-adalab"
      src="./assets/images/logo-adalab.png"
    />
  </div>
</footer>
