<section class="contact">
  <div>
    <h1>Contacto</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit ad placerat per,
      dictumst pharetra rhoncus libero praesent curae consequat cursus.
      Malesuada lacus semper proin accumsan aliquet phasellus aptent
      ullamcorper, ligula himenaeos massa cursus fermentum interdum odio, arcu
      quisque magnis molestie a egestas lacinia.
    </p>
    <small>Todos los campos marcados con * son obligatorios.</small>
  </div>
  <form action="" method="post">
    <label for="firstName">Nombre completo</label>
    <input
      placeholder="Nombre..."
      id="firstName"
      type="text"
      name="firstName"
      required
    />

    <label for="telephone">Teléfono</label>
    <input
      placeholder="Ej: 123456789"
      type="tel"
      id="telephone"
      name="telephone"
    />

    <label for="emailAddress">Email</label>
    <input
      type="email"
      id="emailAddress"
      name="emailAddress"
      value="nombre.apellidos@mail.com"
      required
    />

    <label for="comments">Mensaje:</label>
    <textarea
      placeholder="¿Qué necesitas?"
      id="comments"
      name="comments"
      rows="10"
      cols="30"
      required
    ></textarea>
    <input type="submit" value="Enviar" />
  </form>
</section>
