<img title="@@titleimg" class="@@classimg" src="@@srcimg" alt="@@altimg" />

<div class="@@classdiv">
  <h3 class="@@titlediv">@@titletext</h3>
  <p class="@@textdiv">@@divtext</p>

  <ul class="@@girldivnav">
    <li>
      <a title="@@titleicontwitter" href="@@hreficontwitter" target="_blank">
        <img
          title="@@titlealttwitter"
          class="@@logotipeclass"
          src="@@srcimgicontwitter"
          alt="@@titlealttwitter"
      /></a>
    </li>

    <li class="@@classli">
      <a title="@@titleiconlin" href="@@hreficonlin" target="_blank">
        <img
          title="@@titlealtlin"
          class="@@logotipeclass"
          src="@@srcimgiconlin"
          alt="@@titlealtlin"
      /></a>
    </li>

    <li class="@@classli">
      <a title="@@titleicongit" href="@@hreficongit" target="_blank">
        <img
          title="@@titlealtgit"
          class="@@logotipeclass"
          src="@@srcimgicongit"
          alt="@@titlealtgit"
      /></a>
    </li>

    <li class="@@classli">
      <a title="@@titleicongm" href="@@hreficongm" target="_blank">
        <img
          title="@@titlealtgm"
          class="@@logotipeclass"
          src="@@srcimgicongm"
          alt="@@titlealtgm"
      /></a>
    </li>
  </ul>
</div>
