<header class="header">
  <div class="container-menu">
    <h1 class="group-name">Ninja Coders</h1>
    <nav class="menu-nav">
      <ul class="list-item">
        <li>
          <a class="link" title="Ir a sección Equipo" href="#sec-team"
            >Equipo</a
          >
        </li>
        <li>
          <a
            class="link"
            title="Ir a sección Quiénes somos"
            href="#sec-who-we-are"
            >Quiénes somos</a
          >
        </li>
        <li>
          <a class="link" title="Ir a página de Contacto" href="./contact.html"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <section class="hero">
    <div class="container.image">
      <img
        title="Integrantes de Ninja Coders"
        src="./assets/images/Ninja-Coders.png"
        alt="Grupo de mujeres programadoras"
        class="image"
      />
    </div>
    <h2 class="slogan">Tecleamos todo lo que imagines</h2>
  </section>
</header>
