<header class="header">
  <div class="menu">
    <h1 class="menu__group-name">
      <a class="menu__group-name--link" href="index.html">Ninja Coders</a>
    </h1>
    <nav class="menu__nav">
      <ul class="menu__list-item">
        <li>
          <a
            class="menu__link"
            title="Ir a sección Equipo"
            href="./index.html#sec-team"
            >Equipo</a
          >
        </li>
        <li>
          <a
            class="menu__link"
            title="Ir a sección Quiénes somos"
            href="./index.html#sec-who-we-are"
            >Quiénes somos</a
          >
        </li>
        <li>
          <a
            class="menu__link"
            title="Ir a página de Contacto"
            href="./contact.html"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <section class="hero">
    <div class="hero__container-image">
      <img
        title="Integrantes de Ninja Coders"
        src="./assets/images/gif.gif"
        alt="Grupo de mujeres programadoras"
        class="hero__image"
      />
    </div>
  </section>
</header>
