<header class="header" id="header">
  <div class="menu">
    <h1 class="menu__group-name">
      <a href="#header" class="menu__group-name--link">Ninja Coders</a>
    </h1>
    <nav class="menu__nav">
      <ul class="menu__list-item">
        <li>
          <a class="menu__link" title="Ir a sección Equipo" href="#sec-team"
            >Equipo</a
          >
        </li>
        <li>
          <a
            class="menu__link"
            title="Ir a sección Quiénes somos"
            href="#sec-who-we-are"
            >Quiénes somos</a
          >
        </li>
        <li>
          <a
            class="menu__link"
            title="Ir a página de Contacto"
            href="./contact.html"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <section class="hero">
    <div class="hero__container-image">
      <img
        title="Integrantes de Ninja Coders"
        src="./assets/images/Ninja-Coders2.png"
        alt="Grupo de mujeres programadoras"
        class="hero__image--people"
      />
      <img
        title="Ninja Coders en acción"
        src="./assets/images/ninjasimg.png"
        alt="Grupo de mujeres programadoras"
        class="hero__image"
      />
    </div>
    <h2 class="hero__claim">Tecleamos todo lo que imagines</h2>
  </section>
</header>
