<!-- YAMIRA -->
<article class="about-us__who-we-are--girl-left">
  <include
    src="./girl-article.html"
    titleimg="Ninja Coder Yamira Martín"
    classimg="who-we-are__girl-photo"
    srcimg="./assets/images/yamira.jpg"
    altimg="Fotografía Yamira Martín"
    classdiv="who-we-are__girl-left--div"
    titlediv="girl-left__div--title"
    titletext="Yamira Martín"
    textdiv="girl-left__div--text"
    divtext="Psicóloga de corazón y Adalaber motivada con mucha ilusión por aprender.
    La organización, comunicación asertiva y alta capacidad en resolución de
    problemas son algunos de mis fuertes."
  >
  </include>
  <ul class="girl-left__div--nav">
    <include
      src="./girl-nav.html"
      titleicon="Ir al Twitter de Yamira"
      hrefticon="https://twitter.com/martin_yamira"
      titlealt="Enlace al twitter de Yamira"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/twitter-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Ir al Linkedin de Yamira"
      hrefticon="https://www.linkedin.com/in/yamira-mart%C3%ADn-guzm%C3%A1n-5864828b/"
      titlealt="Enlace al Linkedin de Yamira"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/linkedin-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Ir al Github de Yamira"
      hrefticon="https://github.com/ymartinguzman"
      titlealt="Enlace al Github de Yamira"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/github-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Correo electrónico de Yamira"
      hrefticon="mailto:yamiramartinguzman-@gmail.com"
      titlealt="Enlace al correo electrónico de Yamira"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/mail-logo.png"
    ></include>
  </ul>
</article>

<!-- CRISTINA -->

<article class="about-us__who-we-are--girl-right">
  <include
    src="./girl-article.html"
    titleimg="Ninja Coder Cristina García"
    classimg="who-we-are__girl-photo"
    srcimg="./assets/images/cristina.jpg"
    altimg="Fotografía Cristina García"
    classdiv="who-we-are__girl-right--div"
    titlediv="girl-right__div--title"
    titletext="Cristina García"
    textdiv="girl-right__div--text"
    divtext="Audiovisuales como formación, cultura como afición y programación como pasión. Tras años curioseando sobre
    páginas web, aterrizo en Adalab para adentrarme en las entrañas de HTML, CSS y JavaScript. Navegando con
    rumbo fijo hacia convertirme en una Ninja Coder."
  >
  </include>
  <ul class="girl-right__div--nav">
    <include
      src="./girl-nav.html"
      titleicon="Ir al Twitter de Cristina"
      hrefticon="https://twitter.com/Cris_Gar_Mar"
      titlealt="Enlace al twitter de Cristina"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/twitter-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Ir al Linkedin de Cristina"
      hrefticon="https://www.linkedin.com/in/crisgarm"
      titlealt="Enlace al Linkedin de Cristina"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/linkedin-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Ir al Github de Cristina"
      hrefticon="https://github.com/crisgarm"
      titlealt="Enlace al Github de Cristina"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/github-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Correo electrónico de Cristina"
      hrefticon="mailto:crisgarm9@gmail.com"
      titlealt="Enlace al correo electrónico de Cristina"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/mail-logo.png"
    ></include>
  </ul>
</article>

<!-- CLAUDIA -->
<article class="about-us__who-we-are--girl-left">
  <include
    src="./girl-article.html"
    titleimg="Ninja Coder Claudia Palazón"
    classimg="who-we-are__girl-photo"
    srcimg="./assets/images/claudia.jpg"
    altimg="Fotografía Claudia Palazón"
    classdiv="who-we-are__girl-left--div"
    titlediv="girl-left__div--title"
    titletext="Claudia Palazón"
    textdiv="girl-left__div--text"
    divtext="Diseñadora integral, especializada en diseño de interfaces gráficas. Recién comenzada en la programación front-end, pero con muchas ganas de seguir aprendiendo y dar lo mejor de mí."
  >
  </include>
  <ul class="@@classnav">
    <include
      src="./girl-nav.html"
      titleicon="Ir al Twitter de Claudia"
      hrefticon="https://twitter.com/clau_own"
      titlealt="Enlace al twitter de Claudia"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/twitter-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Ir al Linkedin de Claudia"
      hrefticon="https://www.linkedin.com/in/claudiapalazon/"
      titlealt="Enlace al Linkedin de Claudia"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/linkedin-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Ir al Github de Claudia"
      hrefticon="https://github.com/claudiapalazon"
      titlealt="Enlace al Github de Claudia"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/github-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Correo electrónico de Claudia"
      hrefticon="mailto:claupanon@gmail.com"
      titlealt="Enlace al correo electrónico de Claudia"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/mail-logo.png"
    ></include>
  </ul>
</article>

<!-- EMMA  -->
<article class="about-us__who-we-are--girl-right">
  <include
    src="./girl-article.html"
    titleimg="Ninja Coder Emma Cebada"
    classimg="who-we-are__girl-photo"
    srcimg="./assets/images/emma.jpg"
    altimg="Fotografía Emma Cebada"
    classdiv="who-we-are__girl-right--div"
    titlediv="girl-right__div--title"
    titletext="Emma Cebada"
    textdiv="girl-right__div--text"
    divtext="Motivada, entregada y apasionada de la vida. Si buscas a una FrontEnd junior para trabajar en tus proyectos de páginas webs, ¡No
    dudes en ficharme para tu equipo!"
  >
  </include>
  <ul class="@@classnav">
    <include
      src="./girl-nav.html"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/twitter-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Ir al Linkedin de Emma"
      hrefticon="https://www.linkedin.com/in/emma-mar%C3%ADa-cebada-visuara-74639a16"
      titlealt="Enlace al Linkedin de Emma"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/linkedin-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Ir al Github de Emma"
      hrefticon="https://github.com/Emma-cebada"
      titlealt="Enlace al Github de Emma"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/github-logo.png"
    ></include>

    <include
      src="./girl-nav.html"
      classli="div__nav--li"
      titleicon="Correo electrónico de Emma"
      hrefticon="mailto:emma.cebada@gmail.com"
      titlealt="Enlace al correo electrónico de Emma"
      logotipeclass="div__nav--logotipe"
      srcimgicon="./assets/images/mail-logo.png"
    ></include>
  </ul>
</article>
