<section class="container-section">
  <div class="container-team">
    <h2 class="sec-team" id="sec-team">Equipo</h2>
    <p class="content-team">
      Somos un equipo formado por cuatro FrontEnd juniors que hemos sido
      compañeras en el bootcamp de Adalab, donde tuvimos la oportunidad de
      conocernos y unirnos para trabajar en diferentes proyectos. A partir de
      ahí empezamos a crear páginas webs y a darnos cuenta de cuánto nos gustaba
      programar y hacerlo juntas, de ahí que hayamos lanzado esta página.
      <br /><br />
      Si estás buscando un equipo multidisciplinar y profesional para para
      impulsar tu negocio y darle visibilidad con una web creativa y dinámica,
      ¡Somos tu equipo!
    </p>
  </div>
  <div class="square"></div>
  <div class="strenghts-weakness">
    <div class="strenghts">
      <h2 class="title-skills title-skills1">Fortalezas</h2>
      <p class="content-skills content-skills1">
        Somos un equipo muy complementado y aunque aún somos juniors, nuestras
        ganas e ilusión por la programación nos une haciendo que seamos capaces
        de crear proyectos maravillosos para los demás y, ¡Tenemos muchas ganas
        de demostrarlo!
      </p>
    </div>
    <div class="weakness">
      <h2 class="title-skills title-skills2">Debilidades</h2>
      <p class="content-skills content-skills2">
        Somos programadoras junior, por lo que no contamos con toda la
        experiencia que nos gustaría dentro del sector. Sin embargo, tenemos lo
        más importante, ganas de seguir aprendiendo y dar lo mejor de nosotras,
        ¡así que eso no te impida conocernos!
      </p>
    </div>
  </div>
</section>
