<section class="container-section">
  <div class="team">
    <h2 class="team__title" id="sec-team">Equipo</h2>
    <p class="team__description">
      Somos Ninja Coders, un equipo formado por cuatro mujeres programadoras
      Front-End. Como Adalabers, la palabra que nos define es versatilidad, nos
      adaptamos a cualquier entorno. Nuestro bagaje profesional nos permite ser
      un equipo multidisciplinar con un objetivo en común: potenciar al máximo
      nuestra creatividad para afrontar cualquier desafío que se nos plantee.
      <br /><br />
      Si estás buscando un equipo multidisciplinar y profesional para para
      impulsar tu negocio y darle visibilidad con una web creativa y dinámica,
      ¡somos tu equipo!
    </p>
  </div>
  <div class="square"></div>
  <div class="skills">
    <div class="skills__strenghts">
      <h2 class="skills__strenghts-title">Fortalezas</h2>
      <p class="skills__strenghts-content">
        Cada una de nosotras cuenta con una habilidad ninja especial: la
        estrategia, la agilidad, la resolución de problemas y la flexibilidad.
        Juntando cada una de estas capacidades nace Ninja Coders, un equipo muy
        complementando y versátil capaz de asumir nuevos retos y desafíos. Y
        tenemos muchas ganas de demostrarlo.
      </p>
    </div>
    <div class="skills__weakness">
      <h2 class="skills__weakness-title">Debilidades</h2>
      <p class="skills__weakness-content">
        Como programadoras junior, no contamos con toda la experiencia que nos
        gustaría dentro del sector. Sin embargo, tenemos lo más importante,
        mucha curiosidad y ganas de seguir aprendiendo y dar lo mejor de
        nosotras, ¡así que eso no te impida conocernos!
      </p>
    </div>
  </div>
</section>
