.about-us {
  @media all and (min-width: 768px) {
    margin: 0px 45px 0px 45px;
  }
  @media all and (min-width: 1200px) {
    margin: 0px 138px 0px 138px;
  }
  &__title {
    display: inline-block;
    margin: 30px 0px 30px 0px;
    color: $backgroundGroup;
    font-family: $fontSansRubik;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      margin: 45px 0px 40px 0px;
    }
  }
  &__who-we-are {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4;
    margin: 0 15px 45px 15px;
    grid-gap: 45px;
    @media all and (min-width: 768px) {
      grid-gap: 60px;
      margin-bottom: 60px;
    }
    .strong {
      font-weight: bold;
    }
    &--girl-photo-left,
    &--girl-photo-right {
      width: 180px;
      height: 180px;
      border-radius: 4px;
      border: solid 5px rgba(0, 0, 0, 0.08);
      @media all and (min-width: 768px) {
        width: 206px;
        height: 206px;
      }
      @media all and (min-width: 1200px) {
        width: 278px;
        height: 278px;
      }
    }
    &--girl-left {
      @media all and (min-width: 768px) {
        display: grid;
        grid-template-columns: 205px 1fr;
      }
      @media all and (min-width: 1200px) {
        width: 100%;
        grid-template-columns: 278px 1fr;
      }
      .girl-left__div {
        @media all and (min-width: 768px) {
          margin-left: 31px;
          text-align: left;
        }
        @media all and (min-width: 1200px) {
          margin-left: 45px;
        }
        &--title {
          color: $colorBlack;
          font-family: $fontSans;
          font-size: 20px;
          margin: 15px 0 0 0;
          @media all and (min-width: 768px) {
            line-height: 45px;
            margin: 0px;
            height: 45px;
          }
        }
        &--text {
          color: $contentColor;
          font-family: $fontSans;
          font-size: 16px;
          margin: 15px 0 0 0;
          line-height: 1.6;
          @media all and (min-width: 768px) {
            font-size: 16px;
            margin: 0px;
            width: auto;
          }
        }
        &--nav {
          padding: 0px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          height: 30px;
          margin-top: 15px;
          @media all and (min-width: 768px) {
            justify-content: left;
          }
        }
      }
    }
    &--girl-right {
      @media all and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 205px;
        .about-us__who-we-are--girl-photo-right {
          grid-column-start: 2;
          grid-column-end: 3;
        }
      }
      @media all and (min-width: 1200px) {
        grid-template-columns: 1fr 278px;
      }
      .girl-right__div {
        @media all and (min-width: 768px) {
          grid-column-start: 1;
          grid-row-end: 2;
          text-align: right;
          margin: 0 30px 0 0;
        }
        @media all and (min-width: 1200px) {
          margin-right: 45px;
        }
        &--title {
          color: $colorBlack;
          font-family: $fontSans;
          font-size: 20px;
          margin: 15px 0 0 0;
          @media all and (min-width: 768px) {
            line-height: 45px;
            margin: 0px;
            height: 45px;
          }
        }
        &--text {
          color: $contentColor;
          font-family: $fontSans;
          font-size: 16px;
          margin: 15px 0 0 0;
          line-height: 1.6;
          @media all and (min-width: 768px) {
            font-size: 16px;
            margin: 0px;
            width: auto;
          }
        }
        &--nav {
          padding: 0px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          height: 30px;
          margin-top: 15px;
          @media all and (min-width: 768px) {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

.div__nav--logotipe {
  width: 16px;
  height: 16px;
}
.div__nav--li:before {
  border-color: solid;
  padding: 4px;
  content: "·";
  color: $backgroundGroup;
  font-weight: bold;
}
