/* QUIÉNES SOMOS */

.about-us__title {
  display: inline-block;
  margin: 30px 0px 30px 0px;
  color: #099d8d;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 45px;
  text-transform: uppercase;
}
.about-us__who-we-are {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photo {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}

.girls {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 15px 0 0 0;
}

.girls-text {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 15px 0 0 0;
  width: 290px;
  line-height: 1.6;
}

.logotipe-list-right,
.logotipe-list-left {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
  margin: 15px 0px 45px 0px;
}
.logotipe {
  width: 16px;
  height: 16px;
}
.link-point:before {
  border-color: solid;
  padding: 4px;
  content: "·";
  color: #099d8d;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  /* QUIÉNES SOMOS RESPONSIVE TABLET */

  .about-us {
    margin: 0px 45px 0px 45px;
  }
  .title-about-us {
    margin: 45px 0px 40px 0px;
  }
  .girls {
    line-height: 45px;
    margin: 0px;
    height: 45px;
  }
  .photo {
    width: 206px;
    height: 206px;
  }
  .girl-article-left {
    display: flex;
    flex-direction: row;
    margin: 0 0 60px 0;
  }
  .girl-article-right {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 60px 0;
  }
  .div-girl-text-right {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0 30px 0 0;
  }

  .div-girl-text-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 0 0 30px;
  }
  .girls-text {
    font-size: 16px;
    margin: 0px;
    width: auto;
  }
  .logotipe-list-right {
    justify-content: flex-end;
  }
  .logotipe-list-left {
    justify-content: left;
  }
}

@media all and (min-width: 1200px) {
  /* QUIENES SOMOS RESPONSIVE DESKTOP */
  .photo {
    width: 278px;
    height: 278px;
  }
  .girls-text {
    width: 440px;
  }
  .about-us {
    margin: 0px 138px 0px 138px;
  }
  .girl-article-left {
    /* background-color: red; */
    width: 100%;
    justify-content: left;
  }
  .girl-article-right {
    /* background-color: blue; */
    width: 100%;
    justify-content: right;
  }
  .logotipe-list {
    /* display: inline-block; */
    justify-content: right;
    /* justify-content: left; */
  }
}
