.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  @media all and (min-width: 768px) {
    padding: 0 163px;
  }
  @media all and (min-width: 1200px) {
    padding: 0 300px;
  }

  .contact__title {
    display: inline-block;
    margin-top: 30px;
    font-size: 24px;
    font-family: $fontRubik;
    font-weight: 500;
    line-height: 45px;
    color: $backgroundGroup;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      margin-top: 50px;
    }
  }
  .contact__text {
    font-size: 16px;
    font-family: $fontSans;
    color: $contentColor;
    line-height: 1.5;
    padding-top: 15px;
  }
  .contact__small {
    font-family: $fontSans;
    color: $contentColor;
    font-size: 12px;
    padding-top: 35px;
    padding-bottom: 58px;
    &--asterisk {
      color: $backgroundList;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  text-align: left;

  &__div-emailtel {
    display: flex;
    flex-direction: column;

    &--email {
      display: flex;
      flex-direction: column;
    }

    &--tel {
      display: flex;
      flex-direction: column;
    }
  }
  @media all and (min-width: 768px) {
    padding: 0 163px;
  }
  @media all and (min-width: 1200px) {
    padding: 0 300px;

    .form__div-emailtel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &--email {
        display: flex;
        flex-direction: column;
        width: 60%;
      }

      &--tel {
        display: flex;
        flex-direction: column;
        width: 30%;
      }
    }
  }

  &__label {
    padding: 13px 0 7px 0;
    font-family: $fontSans;
    font-size: 14px;
    color: $contentColor;
    &--asterisk {
      color: $backgroundList;
    }
  }
  &__input-text {
    height: 45px;
    padding-inline-start: 15px;
    border: solid 1px $borderGrey;
    font-family: $fontSans;
    font-size: 14px;
    outline-color: $backgroundList;

    &::-webkit-input-placeholder {
      color: $borderGrey;
    }
  }
  &__text-area {
    height: 105px;
    padding-inline-start: 15px;
    border: solid 1px $borderGrey;
    font-family: $fontSans;
    font-size: 14px;
    outline-color: $backgroundList;
    &::-webkit-input-placeholder {
      color: $borderGrey;
    }
  }

  &__button {
    height: 45px;
    background-color: $backgroundGroup;
    color: $colorWhite;
    text-transform: uppercase;
    margin: 30px 0 60px 0;
    padding: 12px 0;
    border-radius: 4px;
    border: solid 1px $borderGrey;
    outline: none;
    @media all and (min-width: 768px) {
      width: 206px;
      align-self: flex-end;
    }
    @media all and (min-width: 1200px) {
      width: 278px;
    }
  }
}

.hero__header-image {
  height: 300px;
  width: 100%;
  overflow: hidden;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 1200px) {
    height: 400px;
  }
}
.hero__image--form {
  width: 100%;
}
