/* HEADER  */

.header {
  width: 100%;
  margin-bottom: -20px;
}
.container-menu {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 990;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-name {
  width: 100%;
  background-color: #099d8d;
  color: #ffffff;
  opacity: 0.95;
  text-align: center;
  padding: 18px;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  text-transform: uppercase;
}
.menu-nav {
  width: 100%;
}

.list-item {
  background-color: #14d9c4;
  font-family: "Rubik";
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  opacity: 0.9;
  padding: 16px;
  height: 45px;
}

.link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.container-image {
  height: 421px;
}
.image {
  width: 100%;
}

.slogan {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 25px;
  background-color: white;
  height: 80px;
  text-align: center;
  position: relative;
  bottom: 25px;
  padding: 20px;
  margin: 0 15px 0 15px;
}

@media all and (min-width: 768px) {
  /* HEADER RESPONSIVE TABLET */

  .slogan {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    bottom: 82px;
    width: 441px;
    height: 80px;
    padding: 30px 15px;
    margin-left: 46px;
  }

  .container-menu {
    flex-direction: row;
    justify-content: space-between;
  }

  .group-name {
    text-align: left;
    padding-left: 45px;
  }

  .list-item {
    background-color: #099d8d;
    height: 60px;
    opacity: 0.95;
    padding-right: 45px;
  }
}

@media all and (min-width: 1200px) {
  /* HEADER RESPONSIVE DESKTOP */

  .menu-nav {
    width: 50%;
  }

  .slogan {
    font-size: 24px;
    line-height: 30px;
    position: relative;
    bottom: 82px;
    width: 574px;
    height: 90px;
    margin-left: 148px;
  }
}
