/* TIPOGRAFÍAS */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import url("https://db.onlinewebfonts.com/c/2547970600ac97f5d9bd0ebcc1f2dd9d?family=Font+Awesome+5+Brands");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

/* GENERALES */

* {
  box-sizing: border-box;
  margin: 0px;
  list-style: none;
}

.main {
  text-align: center;
}
