.container-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-team {
  font-size: 24px;
  font-family: "Rubik";
  font-weight: 500;
  line-height: 45px;
  color: #14d9c4;
  text-transform: uppercase;
}

.content-team {
  font-size: 16px;
  font-family: "Open Sans";
  color: #54585a;
  line-height: 1.5;
  margin: 15px;
}
.square {
  background-color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  justify-content: center;
  position: relative;
  top: 14.2px;
  transform: rotate(45deg);
}
.strenghts-weakness {
  background-color: rgba(184, 184, 185, 0.2);
  padding: 30px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.weakness {
  padding-top: 30px;
}

.title-skills {
  font-size: 22px;
  font-family: "Rubik";
  font-weight: 500;
  color: #099d8d;
  line-height: 2.05;
}

.content-skills {
  font-size: 16px;
  font-family: "Open Sans";
  color: #54585a;
  line-height: 1.5;
}

@media all and (min-width: 768px) {
  /* TEAM RESPONSIVE TABLET */
  .container-section {
    margin-top: -45px;
  }
  .sec-team {
    color: #099d8d;
  }

  .content-team {
    opacity: 0.67;
    padding: 15px 45px 30px 45px;
    margin: 0;
  }

  /* STRENGHTS AND WEAKNESS RESPONSIVE TABLET */

  .strenghts-weakness {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 333px;
  }
  .weakness {
    padding-top: 0px;
  }

  .title-skills1,
  .content-skills1 {
    padding: 0px 15px 0px 45px;
  }
  .title-skills2,
  .content-skills2 {
    padding: 0px 45px 0px 15px;
  }
}

@media all and (min-width: 1200px) {
  /* TEAM RESPONSIVE DESKTOP */

  .content-team {
    padding: 15px 299px 30px 300px;
  }

  /* STRENGHTS AND WEAKNESS RESPONSIVE DESKTOP */
  .strenghts-weakness {
    height: 309px;
  }

  .title-skills1,
  .content-skills1 {
    padding: 0px 15px 0px 138px;
  }
  .title-skills2,
  .content-skills2 {
    padding: 0px 139px 0px 45px;
  }
}
