.container-section {
  @media all and (min-width: 768px) {
    margin-top: -45px;
  }
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    opacity: 0.67;
    padding: 15px 45px 30px 45px;
    margin: 0;
  }
  @media all and (min-width: 1200px) {
    padding: 15px 299px 30px 300px;
  }

  &__title {
    font-size: 24px;
    font-family: "Rubik";
    font-weight: 500;
    line-height: 45px;
    color: #14d9c4;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      color: #099d8d;
    }
  }
  &__description {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #54585a;
    line-height: 1.5;
    margin: 15px;
  }
}

.square {
  background-color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  justify-content: center;
  position: relative;
  top: 14.2px;
  transform: rotate(45deg);
}

.skills {
  background-color: rgba(184, 184, 185, 0.2);
  padding: 30px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__weakness {
    padding-top: 30px;
  }
}

.skills__strenghts-title,
.skills__weakness-title {
  font-size: 22px;
  font-family: "Rubik";
  font-weight: 500;
  color: #099d8d;
  line-height: 2.05;
}

.skills__strenghts-content,
.skills__weakness-content {
  font-size: 16px;
  font-family: "Open Sans";
  color: #54585a;
  line-height: 1.5;
}

@media all and (min-width: 768px) {
  /* TEAM RESPONSIVE TABLET */
  .container-section {
    margin-top: -45px;
  }

  /* STRENGHTS AND WEAKNESS RESPONSIVE TABLET */

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 333px;
  }
  .skills__weakness {
    padding-top: 0px;
  }

  .skills__strenghts-title,
  .skills__strenghts-content {
    padding: 0px 15px 0px 45px;
  }
  .skills__weakness-title,
  .skills__weakness-content {
    padding: 0px 45px 0px 15px;
  }
}

@media all and (min-width: 1200px) {
  /* STRENGHTS AND WEAKNESS RESPONSIVE DESKTOP */
  .skills {
    height: 309px;
  }

  .skills__strenghts-title,
  .skills__strenghts-content {
    padding: 0px 15px 0px 138px;
  }
  .skills__weakness-title,
  .skills__weakness-content {
    padding: 0px 139px 0px 45px;
  }
}
