.container-section {
  @media all and (min-width: 768px) {
    margin-top: -45px;
  }
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    opacity: 0.67;
    padding: 15px 45px 30px 45px;
    margin: 0;
  }
  @media all and (min-width: 1200px) {
    padding: 15px 299px 30px 300px;
  }

  &__title {
    font-size: 24px;
    font-family: $fontRubik;
    font-weight: 500;
    line-height: 45px;
    color: $backgroundList;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      color: $backgroundGroup;
    }
  }
  &__description {
    font-size: 16px;
    font-family: $fontSans;
    color: $contentColor;
    line-height: 1.5;
    margin: 15px;
  }
}

.square {
  background-color: $colorWhite;
  width: 30px;
  height: 30px;
  display: inline-block;
  justify-content: center;
  position: relative;
  top: 14.2px;
  transform: rotate(45deg);
}

.skills {
  background-color: $backgroundGrey;
  padding: 30px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 333px;
  }
  @media all and (min-width: 1200px) {
    height: 309px;
  }

  &__weakness {
    padding-top: 30px;
    @media all and (min-width: 768px) {
      padding-top: 0px;
    }
  }
  &__strenghts-title,
  &__weakness-title {
    font-size: 22px;
    font-family: $fontRubik;
    font-weight: 500;
    color: $backgroundGroup;
    line-height: 2.05;
  }

  &__strenghts-content,
  &__weakness-content {
    font-size: 16px;
    font-family: $fontSans;
    color: $contentColor;
    line-height: 1.5;
  }
  @media all and (min-width: 768px) {
    &__strenghts-title,
    &__strenghts-content {
      padding: 0px 15px 0px 45px;
    }
    &__weakness-title,
    &__weakness-content {
      padding: 0px 45px 0px 15px;
    }
    @media all and (min-width: 1200px) {
      &__strenghts-title,
      &__strenghts-content {
        padding: 0px 15px 0px 138px;
      }
      &__weakness-title,
      &__weakness-content {
        padding: 0px 139px 0px 45px;
      }
    }
  }
}
