/*COLORES*/
$colorWhite: #ffffff;
$backgroundGroup: #099d8d;
$backgroundList: #14d9c4;
$contentColor: #54585a;
$backgroundGrey: rgba(184, 184, 185, 0.2);
$colorBorder: rgba(0, 0, 0, 0.08);
$colorBlack: black;
$borderGrey: #b8b8b9;

/*TIPOGRAFÍAS*/
$fontRubik: "Rubik";
$fontSans: "Open Sans", sans-serif;
$fontSansRubik: "Rubik", sans-serif;
