/* TIPOGRAFÍAS */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import url("https://db.onlinewebfonts.com/c/2547970600ac97f5d9bd0ebcc1f2dd9d?family=Font+Awesome+5+Brands");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

/* GENERALES */

* {
  box-sizing: border-box;
  margin: 0px;
  list-style: none;
}

/* HEADER  */

.header {
  width: 100%;
}

.group-name {
  background-color: #099d8d;
  color: #ffffff;
  opacity: 0.95;
  text-align: center;
  padding: 15px;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
  height: 60px;
}

.list-item {
  background-color: #14d9c4;
  font-family: "Rubik";
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  opacity: 0.9;
  padding: 16px;
}
.link {
  color: #ffffff;
  text-decoration: none;
}
/* .container-hero {
  position: relative;
  top: -110px;
  z-index: -1;

  position: absolute;
  top: 0px;
  z-index: -1;
} */
.hero {
  width: 100%;
}

/* MAIN  */

.main {
  text-align: center;
}

.slogan {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 25px;
  background-color: white;
  position: relative;
  bottom: 25px;
  padding: 15px;
  margin: 0 15px 0 15px;
}
.container-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sec-team {
  font-size: 24px;
  font-family: "Rubik";
  font-weight: 500;
  line-height: 45px;
  color: #14d9c4;
}

.content-team {
  font-size: 16px;
  font-family: "Open Sans";
  color: #54585a;
  line-height: 1.5;
  margin: 15px;
}
.square {
  background-color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  justify-content: center;
  position: relative;
  top: 14.2px;
  transform: rotate(45deg);
}
.strenghts-weakness {
  background-color: rgba(184, 184, 185, 0.2);
  padding: 30px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.weakness {
  padding-top: 30px;
}

.title-skills {
  font-size: 22px;
  font-family: "Rubik";
  font-weight: 500;
  color: #099d8d;
  line-height: 2.05;
}

.content-skills {
  font-size: 16px;
  font-family: "Open Sans";
  color: #54585a;
  line-height: 1.5;
}

/* QUIÉNES SOMOS */

.who-we-are {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-about-us {
  display: inline-block;
  margin: 30px 0px 30px 0px;
  color: #099d8d;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 45px;
}
.photo {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}

.girls {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 15px 0 0 0;
}

.girls-text {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 15px 0 0 0;
  width: 290px;
  line-height: 1.6;
}

.logotipe-list-right,
.logotipe-list-left {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
  margin: 15px 0px 45px 0px;
}
.logotipe {
  width: 16px;
  height: 16px;
}
.link-point:before {
  border-color: solid;
  padding: 4px;
  content: "·";
  color: #099d8d;
  font-weight: bold;
}

/* FOOTER  */

.footer {
  border-top: 1px solid #b8b8b9;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copy {
  color: #b8b8b9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 30px 0 0 0px;
}

.footer-link {
  text-decoration: none;
  color: #54585a;
}
.footer-list {
  height: 60px;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 20px 0 0 0px;
  padding: 0px;
  text-align: center;
}

.div-icon-adalab {
  width: 115.9px;
  height: 45px;
  margin: 30px 0 0 0px;
}
.icon-adalab {
  width: 100%;
}

@media all and (min-width: 768px) {
  /* QUIÉNES SOMOS RESPONSIVE TABLET */

  .about-us {
    margin: 0px 45px 0px 45px;
  }
  .title-about-us {
    margin: 45px 0px 40px 0px;
  }
  .girls {
    line-height: 45px;
    margin: 0px;
    height: 45px;
  }
  .photo {
    width: 206px;
    height: 206px;
  }
  .girl-article-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 60px 0;
  }
  .girl-article-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0 0 60px 0;
  }
  .div-girl-text-right {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0 30px 0 0;
  }

  .div-girl-text-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 0 0 30px;
  }
  .girls-text {
    font-size: 16px;
    margin: 0px;
    width: auto;
  }
  .logotipe-list-right {
    direction: rtl;
    justify-content: right;
  }
  .logotipe-list-left {
    justify-content: left;
  }

  /* FOOTER RESPONSIVE  */

  .footer {
    position: relative;
    display: block;
    height: 170px;
  }
  .copy {
    position: absolute;
    left: 45px;
    bottom: 120px;
  }
  .div-icon-adalab {
    position: absolute;
    left: 45px;
    bottom: 60px;
  }
  .footer-list {
    position: absolute;
    right: 45px;
    bottom: 56px;
    text-align: right;
    height: 90px;
    line-height: 30px;
  }
}

@media all and (min-width: 1200px) {
  /* QUIENES SOMOS RESPONSIVE DESKTOP */
  .photo {
    width: 278px;
    height: 278px;
  }
  .girls-text {
    width: 440px;
  }
  .about-us {
    margin: 0px 138px 0px 138px;
  }
  .girl-article-left {
    /* background-color: red; */
    width: 100%;
    justify-content: left;
  }
  .girl-article-right {
    /* background-color: blue; */
    width: 100%;
    justify-content: right;
  }
  .logotipe-list {
    /* display: inline-block; */
    justify-content: right;
    /* justify-content: left; */
  }

  /* FOOTER RESPONSIVE */

  .footer {
    height: 161px;
  }
  .copy {
    /* position: absolute; */
    left: 138px;
    bottom: 111px;
  }
  .div-icon-adalab {
    /* position: absolute; */
    left: 138px;
    bottom: 51px;
  }
  .footer-list {
    /* position: absolute; */
    right: 138px;
    bottom: 47px;
  }
}

@media all and (min-width: 768px) {
  /* HEADER RESPONSIVE TABLET */

  .slogan {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    bottom: 82px;
    width: 441px;
    height: 80px;
    padding: 30px 15px;
    margin-left: 46px;
  }

  /* TEAM RESPONSIVE TABLET */
  #sec-team {
    color: #099d8d;
  }

  .content-team {
    opacity: 0.67;
    padding: 15px 45px 30px 45px;
    margin: 0;
  }

  /* STRENGHTS AND WEAKNESS RESPONSIVE TABLET */

  .strenghts-weakness {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 333px;
  }
  .weakness {
    padding-top: 0px;
  }

  .title-skills1,
  .content-skills1 {
    padding: 0px 15px 0px 45px;
  }
  .title-skills2,
  .content-skills2 {
    padding: 0px 45px 0px 15px;
  }
}

@media all and (min-width: 1200px) {
  /* HEADER RESPONSIVE DESKTOP */

  .slogan {
    font-size: 24px;
    line-height: 30px;
    position: relative;
    bottom: 82px;
    width: 574px;
    height: 90px;
    margin-left: 148px;
  }
  /* TEAM RESPONSIVE DESKTOP */

  .content-team {
    padding: 15px 299px 30px 300px;
  }

  /* STRENGHTS AND WEAKNESS RESPONSIVE DESKTOP */
  .strenghts-weakness {
    height: 309px;
  }

  .title-skills1,
  .content-skills1 {
    padding: 0px 15px 0px 138px;
  }
  .title-skills2,
  .content-skills2 {
    padding: 0px 139px 0px 45px;
  }
}
